<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head-app.ejs") %>
  <title><%= title %> | <%= subpageName %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <header>
    <%- include("../app/banner-app.ejs") %>
  </header>
  <%- include("../app/nav-app.ejs") %>

  <main class="container-subpage">
    <h2 class="title">Please Sign In</h2>
    <form method="POST" action="/auth/login">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter email ..." value="" autocomplete="on">
      </div>

      <div>
        <label for="password">Password</label>
        <div class="pass-word">
          <input type="password" id="password" name="password" placeholder="********">
          <i class="material-icons">visibility</i>
        </div>
      </div>

      <button type="submit">Sign In</button>
    </form>
    <p>
      If you don't have an account,
      <a href="/auth/register">register</a> here.
    </p>
    <% if(errors[0].msg) { %>
      <h3 class="title">Errors:</h3>
      <ul>
        <% errors.forEach(error=> { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>

  <script src="/auth/javascripts/login.js"></script>

</body>
</html>
