<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../app/head.ejs") %>
</head>

<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  
  <%- include("../app/nav.ejs") %>

<div id="container-subpage-register" class="container-subpage">
  <main>

    <h2 class="title large">Please Register</h2>
    <form method="POST" action="/auth/register">
      <div>
        <label for="fname">First name</label>
        <input
          type="text"
          id="fname"
          name="fname"
          placeholder="Enter first name ..."
          value=""
        />
      </div>
      <div>
        <label for="lname">Last name</label>
        <input
          type="text"
          id="lname"
          name="lname"
          placeholder="Enter last name ..."
          value=""
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter email ..."
          value=""
          autocomplete="email"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="********"
          value=""
        />
      </div>
      <div>
        <label for="repeatPassword">Re-enter password</label>
        <input
          type="password"
          id="repeatPassword"
          name="repeatPassword"
          placeholder="Re-enter password ..."
        />
      </div>
      <div>
        <!-- <label for="roles">Role</label> -->
        <input
          type="hidden"
          id="roles"
          name="roles"
          placeholder="Enter roles ..."
          value="member"
        />
      </div>
      <button type="submit">Register</button>
    </form>

    <% if(errors && errors !== '' ) { %>
      <h3 class="title error">Errors:</h3>
      <ul>
        <% errors.forEach(error=> { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <br><br>
    <details>
      <summary>Privacy policy</summary>
      <p>We take your privacy seriously. Here are some key points from our privacy policy:</p>
    
      <ul>
        <li>We collect only the personal information that is necessary to provide our services.</li>
        <li>We do not share your personal information with third parties except as required by law.</li>
        <li>We use industry-standard security measures to protect your personal information.</li>
        <li>You can request access to or deletion of your personal information at any time.</li>
      </ul>

      <p>For more information, please read our full privacy policy.</p>
    </details>

  </main>
</div>
  <footer>
    <!-- site footer -->
    <%- include('../app/footer.ejs') %>
  </footer>
</body>
</html>
  