<h1 id="top"><%= pageTitle %></h1>
<p><%= story.synopsis %></p>
<p><%= story.introduction %></p>
<p><%= story.content %></p>



<a href="/author/story/update/<%= story.url %>">Update</a>
<a href="/author/story/delete/<%= story.url %>">Delete</a>
