<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>
    <p>
      To test database connectivity, these stories are retrieved from a mongoDb cloud
      database called E-Shop and a collection of documents called stories.
    </p>

    <% if (roles && roles.includes("Author")) { %>
      <p><a href="/author/story/create">Create New Story</a></p>
    <% } %>

    <h3 class="title">List of stories:</h3>
    <ul>
      <% stories.forEach((story) => { %>
        <li><a href="story/<%= story.url %>"><%= story.name %></a></li>
      <% }); %>
    </ul>

  </main>

  <footer>
    <%- include('../app/footer.ejs') %>
  </footer>
</body>
</html>
