<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>

    <form method="POST" action="">

      <!-- name -->
      <label for="name" title="The name of your story.">Name *</label><br />
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Enter a name ..."
        value="<%= story.name %>"
        autocomplete="off"
      >

      <!-- synopsis -->
      <label for="synopsis" title="A brief overview.">Synopsis *</label><br />
      <input
        id="synopsis"
        name="synopsis"
        type="text"
        placeholder="Enter a synopsis ..."
        value="<%= story.synopsis %>"
        autocomplete="off"
      >

      <!-- introduction -->
      <label for="introduction" title="A story introduction paragraph. ">Introduction</label><br>
      <textarea id="introduction" name="introduction"><%= story.introduction %></textarea>

      <!-- content -->
      <label for="content" title="Main story contents.">Content</label><br>
      <textarea id="content" name="content"><%= story.content %></textarea>

      <!-- submit -->
      <button type="submit">Submit</button>
    </form>

    <p><i>* required</i></p>

    <% if(errors && errors !=='' ) { %>
      <h3 class="title">Errors:</h3>
      <ul>
        <% errors.forEach(error=> { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  </main>

  <footer>
    <%- include('../app/footer.ejs') %>
  </footer>
</body>
</html>
