<div id="container-subpage-story_delete" class="container-subpage">
  <main>

    <h2 class="title large"><%= pageTitle %></h2>
    <h3 class="title"><%= story.name %></h3>
    <p>Do you really want to delete <%= story.name %>?</p>

    <form method="POST" action="">
      <input
        type="hidden"
        name="storyid"
        required="true"
        value="<%= story._id %>"
      />
      <button type="submit">Delete</button>
    </form>

    <br />
    <a href="/author/story/<%= story.url %>">Cancel</a>

    <% if(products) { %>
      <h3 class="title error">Errors:</h3>
      <span class="error">This story is still assigned to:</span>
      <ul style="margin-inline: 16px">
        <% products.forEach(product => { %>
          <li><%= product.name %></li>
        <% }) %>
      </ul>
    <% } %>
    
  </main>
</div>
