<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head-app.ejs") %>
  <title><%= title %> | <%= subpageName %></title>
</head>
<body>
  <header>
    <%- include("../app/banner-app.ejs") %>
  </header>
  <%- include("../app/nav-app.ejs") %>

  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>

    <% if(picture.coverImagePath) { %>
      <img
        width="600"
        height="400"
        src="<%= picture.coverImagePath %>"
        alt="<%= picture.name %>"
        title="<%= picture.name %>"
      >
    <% } %>

    <h3 class="title">Description:</h3>
    <p><%= picture.shortDescription %></p>
    <p><%= picture.longDescription %></p>

    <a href="/author/picture/update/<%= picture.url %>">Update</a>
    <a href="/author/picture/delete/<%= picture.url %>">Delete</a>
  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>
</body>
</html>