<h1><%= pageTitle %></h1>
<h2><%= breed.name %></h2>
<p>Do you really want to delete <%= breed.name %>?</p>

<form method="POST" action="">
  <input
    type="hidden"
    name="breedid"
    required="true"
    value="<%= breed._id %>"
  />
  <button type="submit">Delete</button>
</form>

<a href="/author/breed/<%= breed.url %>">Cancel</a>

<% if(dogs) { %>
<h2 style="color: red">Errors:</h2>
<span>This breed is still assigned to:</span>
<ul style="margin-inline: 16px">
  <% dogs.forEach(dog => { %>
  <li><%= dog.name %></li>
  <% }) %>
</ul>
<% } %>
