<!DOCTYPE html>
<html lang="en">

<head>
  <!-- include shared head partial -->
  <%- include("../butcher/head.ejs") %>
    <title>
      <%= title %> | <%= subpageName %>
    </title>
</head>

<body class="container-store">
  <!-- banner -->
  <header><%- include("../butcher/banner.ejs") %></header>
  <!-- navigation -->
  <%- include("../butcher/nav.ejs") %>
    <!-- store subpage -->
    <main class="container-subpage">
      <h2>Normally a checkout page might require:</h2>
      <ol style="padding-inline-start: 32px;">
        <li>Creation of an account by completing a registration form.</li>
        <li>Signing in to the application.</li>
        <li>Re-directing to a payment processing service like <a href="https//stripe.com">Stripe</a>.</li>
        <li>Sending a confirmation email with a copy of the order.</li>
        <li>Saving the order into the database.</li>
        <li>Clearing cart contents.</li>
      </ol>
      <p>
        This would be a superfluous addition for a fictitious butcher shop so it only empties your cart.
      </p>
      <p>
        How was the user experience?
      </p>
      <p>
        Please provide feedback using the envelope button at the bottom of the page or compose a message at <a
          href="/contact">Contact Coder's Cove</a>.
      </p>
      <h2 style="color: var(--inform);">Thanks for placing an order!</h2>
      <p>
        Your cart has been emptied.
      </p>
      <div>
        <a class="btn btn--flat" href="/butcher/store">Start Re-filling Your Cart</a>
      </div>
    </main>
    <!-- empties cart -->
    <script>
      let picks = JSON.parse(localStorage.getItem("data")) || [];
      picks.forEach(pick => pick.qty = 0);
      picks = picks.filter(pick => pick.qty || pick.heart);
      localStorage.setItem("data", JSON.stringify(picks));
    </script>
    <footer><%- include('../app/footer-app.ejs') %></footer>
</body>

</html>