<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../app/head-app.ejs") %>
    <link rel="stylesheet" href="/butcher/stylesheets/index.css" />
    <title>
      <%= title %> | <%= subpageName %>
    </title>
</head>

<body>
  <header><%- include("../butcher/banner.ejs") %></header>
  <%- include("../butcher/nav.ejs") %>

    <main class="container-subpage">

      <!-- introduction -->
      <section class="container">
        <h2 class="title--lg">From our farm to your table!</h2>
        <p>The 'Butcher Shop' is a <strong>fictitious</strong> online store.</p>
        <p>
          We raise, process and package all of our products in modern, state
          of the art, farm facilities.
        </p>
      </section>

      <!-- chicken -->
      <section class="container">
        <h3 class="brd-left title">Chicken</h3>
        <div class="animal-pics">
          <img src="/butcher/assets/images/daniel-tuttle-_kGG9EyZxyA-unsplash_qlkvfh_c_scale,w_200.jpg" width="200" height="133"
            alt="daniel-tuttle-_kGG9EyZxyA-unsplash_qlkvfh_c_scale,w_200.jpg" title="Standing Chicken Casting A Shadow" />
          <img src="/butcher/assets/images/claudio-schwarz-4qJlXK4mYzU-unsplash_sry9su_c_scale,w_200.jpg" width="200" height="133"
            alt="claudio-schwarz-4qJlXK4mYzU-unsplash_sry9su_c_scale,w_200.jpg" title="Roasted Chicken On Platter" />
        </div>
        <p>
          Our chickens are raised in open areas inside large barns with modern
          air circulation systems. This is a healthy environment for birds that
          prevents disease and reduces fat content.
        </p>
        <p>
          We never use antibiotics or hormones in any of our poultry.
        </p>
        <p>
          We process our chickens at 6 to 8 pounds. They are large enough to
          accommodate stuffing and will feed a gathering of at least six people.
          You will find them tender and juicy with low fat content.
        </p>
        <p>
          Buy a whole chicken for your next family get-together or stock up your
          freezer with air sealed, fresh or frozen cuts!
        </p>
        <a class="btn btn--flat" href="/butcher/store">Shop Now</a>
      </section>

      <!-- beef -->
      <section class="container">
        <h3 class="brd-left title">Beef</h3>
        <p>Beef is good, beef is  great, beef is better on my plate.</p>
      </section>

    </main>

    <footer><%- include('../app/footer-app.ejs') %></footer>
</body>

</html>