<!-- app-top-nav -->
<nav id="app-top-nav">
  <div class="app-top-nav">
    <button class="menu-black btn" id="btn-open-app-side-nav" title="Menu"></button>
    <ul class="app-top-nav-links">
      <li id="shop"><a class="btn btn--nav" href="/butcher/store" title="Go Shopping">Shop</a></li>
    </ul>
  </div>
  <!-- subpage heading -->
  <div class="app-subpage">
    <h1 class="title subpage-name" id="subpage-name" title="Subpage Name"><%= subpageName %></h1>
  </div>
</nav>
<!-- app side navigation -->
<nav class="app-side-nav">
  <div>
    <!-- categories -->
    <div class="categories">
      <div class="intro">
        <h3 class="title--lg uppercase" title="Products">Products</h3>
      </div>
      <ul class="app-side-nav-links">
        <li><button id="btn-all-products" class="btn btn--nav">All Products</button></li>
        <li><button id="btn-beef" class="btn btn--nav">Beef</button></li>
        <li><button id="btn-chicken" class="btn btn--nav">Chicken</button></li>
      </ul>
    </div>
    <!-- application pages -->
    <div class="intro">
      <h3 class="title--lg uppercase" title="Application Pages">Pages</h3>
    </div>
    <ul class="app-side-nav-links">
      <li><a class="btn btn--nav" href="/butcher/store" title="Go Shopping">Shop</a></li>
      <li><a class="btn btn--nav" href="/butcher/main" title="Butcher Shop Main Page">Main</a></li>
      <% if(roles) { roles.forEach(role=> { %>
          <li><a class="btn btn--nav" href="/<%= role %>" title="<%= role %>"><%= role %></a></li>
        <% }) %>
        <li><a class="btn btn--nav" href="/auth/logout" title="Sign Out">Sign Out</a></li>
      <% } else { %>
        <li><a class="btn btn--nav" href="/auth/register" title="Register">Register</a></li>
        <li><a class="btn btn--nav" href="/auth/login" title="Sign In">Sign In</a></li>
      <% } %>
      <li><a class="btn btn--nav" href="/" title="Coder's Cove Home Page">Coder's Cove</a></li>
    </ul>
  </div>
  <div class="outro">
    <p class="text--xs" title="Coder's Cove Logo">&copy; 2023 <%= title %></p>
  </div>
</nav>
<div id="overlay" class="overlay"></div>