<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>
    <% if(product.coverImagePath) { %>
      <img
        width="300"
        height="300"
        src="<%= product.coverImagePath %>"
        alt="<%= product.name %>"
        title="<%= product.name %>"
      >
    <% } %>
    <h3 class="title">Description:</h3>
    <p><%= product.shortDescription %></p>

    <!-- Don't display Product story if Unavailable or Other -->
    <% if(product.story.name !== "Unavailable" && product.story.name !== "Other") { %>
      <h3 class="title">Story:</h3>
      <p><%= product.story.name %></p>
      <p><%= product.story.synopsis %></p>
      <p><%= product.story.introduction %></p>
      <p><%= product.story.content %></p>
    <% } %>

  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>
</body>
</html>
