<!DOCTYPE html>
<html lang="en">
<head>
  <!-- include shared head partial -->
  <%- include("../butcher/head.ejs") %>
    <script type="module" src="/butcher/javascripts/index.js"></script>
    <title>Butcher Shop | <%= subpageName %></title>
</head>
<body>
  <!-- banner -->
  <header><%- include("../butcher/banner.ejs") %></header>
  <!-- navigation -->
  <%- include("../butcher/nav.ejs") %>
  <!-- store subpage -->
  <main class="container-subpage">
    <!-- packages  -->
    <div id="packages" class="packages"></div>
    <!-- ledger -->
    <div id="ledger" class="ledger">
      <!-- cart-summary -->
      <h3 class="title--lg brd-left">Cart Summary</h3>
      <table id="cart-summary" class="cart-summary">
        <thead>
          <tr>
            <th>Products (<span id="cart-products">0</span>)</th>
            <th>Qty</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <!-- cart.js printCartSummary() here -->
        </tbody>
        <tfoot>
          <td>Estimated Totals</td>
          <td><span class="cart-quantity">0</span></td>
          <td>$<span id="total-amount">0.00</span></td>
        </tfoot>
      </table>
      <div style="text-align: right;">
        <a class="btn btn--flat" href="/butcher/checkout">Checkout</a>
      </div>        
      <br><br>
      <div style="text-align: center">
        <button id="btn-clear-cart" class="btn btn--trash btn-clear-cart">Empty Cart</button>
        <br><br><br>
        <a class="btn btn--shop btn-continue" href="/butcher/store">Continue Shopping</a>
      </div>
    </div>
  </main>
  <footer>
    <div class="container-subpage estimate text">
      <h2 class="brd-left-inform title--lg">Estimated Prices</h2>
      <p>
        Meat is sold by the weight of each cut.
        These cuts can vary in size.
        The weight of each product is an <strong>estimated average</strong> weight of the cut.
        The 'cost' is this estimated weight times the price per pound times the quantity selected.
        This is also reflected in the total amount of your cart.
      </p>
      <p>
        The <strong>actual total amount</strong> of your order will be determined when you pick up your products.
      </p>
      <p>
        This approach was used to give you an idea of how much your order will cost when you pick it up.
        It helps you <strong>budget</strong> more accurately!
      </p>
    </div>
    <%- include('../butcher/footer.ejs') %>
  </footer>
  <!-- subpage navigation -->
  <nav id="subpage-nav" aria-label="Shop Views">
    <button id="btn-store" class="btn btn--nav-shop" title="Go Shopping">
      Shop
    </button>
    <button id="btn-favorites" class="btn btn--nav-favorites" title="View Favorites">
      Favorites (<span id="heart-quantity" class="heart-quantity">0</span>)
    </button>
    <button id="btn-cart" class="btn btn--nav-cart" title="View Cart">
      Cart (<span id="cart-quantity" class="cart-quantity">0</span>)
    </button>
  </nav>
</body>
</html>