<!DOCTYPE html>
<html lang="en">
<head>
  <!-- include shared head partial -->
  <%- include("../butcher/head.ejs") %>
  <link rel="stylesheet" href="/butcher/stylesheets/index.css">
  <script type="module" src="/butcher/javascripts/index.js"></script>
  <title><%= title %> | <%= subpageName %></title>
</head>
<body class="container-store">
  <!-- banner -->
  <header><%- include("../butcher/banner.ejs") %></header>
  <!-- navigation -->
  <%- include("../butcher/nav.ejs") %>

  <!-- store subpage -->
  <main class="container-subpage">

    <!-- packages  -->
    <div id="packages" class="packages"></div>

    <!-- ledger -->
    <div id="ledger" class="ledger">
      <p style="visibility: hidden;">Number of products: <span id="cart-products">0</span></p>
      <!-- <p>Number of items: <span class="cart-quantity">0</span></p> -->
      <p style="text-align: right;">Total: $<span id="total-amount">0.00</span></p>
      <button id="checkout" class="btn btn--raised btn-checkout" disabled>Checkout</button>
      <button id="btn-clear-cart" class="btn btn--raised btn-clear-cart">Empty Cart</button>
      <a class="btn btn--raised btn-continue" href="/butcher/store">Continue Shopping</a>
    </div>
    
  </main>

  <footer><%- include('../app/footer-app.ejs') %></footer>
  
  <!-- subpage navigation -->
  <nav id="subpage-nav">
    <button id="btn-store" class="btn" title="Go Shopping">
      <img
        src="/butcher/assets/svg/shop.svg"
        width="24"
        height="24"
        alt="shop.svg"
      >
    </button>
    <button id="btn-favorites" class="btn" title="View Favorites">
      <img
        src="/butcher/assets/svg/heart-fill.svg"
        width="24"
        height="24"
        alt="heart-fill.svg"
      >
      <div id="heart-quantity" class="heart-quantity">0</div>
    </button>
    <button id="btn-cart" class="btn" title="View Cart">
      <img
        src="/butcher/assets/svg/cart4.svg"
        width="24"
        height="24"
        alt="cart4.svg"
      >      
      <div id="cart-quantity" class="cart-quantity"><span>0</span></div>
    </button>
  </nav>
</body>
</html>