<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>
    <h3 class="title"><%= product.name %></h3>
    <p>Do you really want to delete <%= product.name %>?</p>

    <form method="POST" action="/author/product/delete">
      <input
        type="hidden"
        name="productid"
        required="true"
        value="<%= product._id %>"
      >
      <button type="submit">Delete</button>
    </form>

    <br>
    <a href="/author/product/<%= product.url %>">Cancel</a>
  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>
</body>
</html>
