<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head-app.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner-app.ejs") %>
  </header>
  <%- include("../app/nav-app.ejs") %>


  <main class="container-subpage">
    <h2 class="title"><%= pageTitle %></h2>
    <p>
      To test database connectivity, these products are retrieved from a mongoDb
      cloud database called E-Shop, a collection of documents called products
      which are linked to a collection of documents called stories.
    </p>

    <% if (roles && roles.includes("Author")) { %>
      <p><a href="/author/product/create">Create New Product</a></p>
    <% } %>

    <% products.forEach((product)=> { %>
      <a style="padding: 16px 0" href="product/<%= product.url %>">
        <h3 class="title"><%= product.name %></h3>
        <% if(product.coverImagePath) { %>
          <img
            width="300"
            height="300"
            src="<%= product.coverImagePath %>"
            alt="<%= product.name %>"
            title="<%= product.name %>"
          >
        <% } %>
      </a>
    <% }); %>
  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>
</body>
</html>
