<!-- <h1 id="top"><%= pageTitle %></h1> -->

<% if(product.coverImagePath) { %>
<img width="800" height="600" src="<%= product.coverImagePath %>" />
<% } %>

<form method="POST" action="/member/cart/update">
  <input type="hidden" id="orderId" name="orderId" value="<%=product.url %>" />
  <label for="quantity">Qty</label>
  <input
    type="number"
    id="quantity"
    name="quantity"
    value="1"
    min="1"
    max="99"
  />
  <button type="submit">Add to Cart</button>
</form>

<h2>Description:</h2>
<p><%= product.description %></p>

<% if(product.favoriteFood) { %>
<p>My favorite food is <%= product.favoriteFood %>.</p>
<% } %>

<!-- Don't display Story section if Unavailable or Other -->
<% if(product.story.name !== "Unavailable" && product.story.name !== "Other") { %>
<h2>Story:</h2>
<p>I am a <%= product.story.name %>.</p>
<p><%= product.breed.description %></p>
<% } %>
