<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head-app.ejs") %>
  <title><%= title %> | <%= subpageName %></title>
  <link rel="stylesheet" href="/site/stylesheets/index.css">
</head>
<body>
  <header>
    <%- include("../app/banner-app.ejs") %>
  </header>
  <%- include("../app/nav-app.ejs") %>

  <main>
    <!-- ? fades -->
    <div id="fades" class="fades">
      <div class="fade fade-first">
        <div class="fade-content">
          <div class="scale">Welcome to <%= title %>!</div>
          <h2 class="title--xl fade-in">Website Solutions</h2>
          <div class="translate">Blogs | E-Shops </div>
        </div>
      </div>
      <div class="fade fade-one">
        <div class="fade-content">
          <div>One</div>
          <h2 class="title--xl">Custom Programming</h2>
          <div class="pulse">Node.js | Express | MongoDb | PHP | SQL</div>
        </div>
      </div>
      <div class="fade fade-two">
        <div class="fade-content">
          <div>Two</div>
          <h2 class="title--xl">E-Commerce</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="fade fade-three">
        <div class="fade-content">
          <div>Three</div>
          <h2 class="title--xl">Code Snippets</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="fade fade-four">
        <div class="fade-content">
          <div>Four</div>
          <h2 class="title--xl">Picture Collections</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
    </div>
    <div class="container-subpage">
      <h2>Welcome to my playground!</h2>
      <p>Coder's Cove is a Node.js Express server that I use to test and showcase projects and applications.</p>
      <a class="btn btn--line" href="#">Test Anchor</a>
      <button class="btn btn--flat">Test Button</button>
    </div>
  </main>

  <footer>
    <%- include('../app/footer-app.ejs') %>
  </footer>
</body>
</html>
