<!-- app-top-nav -->
<nav id="app-top-nav">
  <div class="app-top-nav">
    <button id="btn-open-app-side-nav" class="btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--svg-color)">
        <title>Sidebar Menu</title>
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
      </svg>
    </button>
    <ul class="app-top-nav-links">
      <li><a class="btn btn--nav" href="/" title="Coder's Cove Home Page">Home</a></li>
      <li><a class="btn btn--nav" href="/about" title="About Coder's Cove">About</a></li>
      <li><a class="btn btn--nav" href="/contact" title="Contact Coder's Cove">Contact</a></li>
    </ul>
  </div>
  <!-- subpage heading -->
  <div class="app-subpage">
    <h1 class="title subpage-name" id="subpage-name" title="Subpage Name"><%= subpageName %></h1>
  </div>
</nav>

<!-- app side navigation -->
<nav class="app-side-nav">
  <div>
    <div class="intro">
      <h3 class="title--lg uppercase" title="Application Pages">Pages</h3>
    </div>
    <ul class="app-side-nav-links">
      <li><a class="btn btn--side-nav" href="/butcher" title="Butcher Shop Project">Butcher Shop</a></li>
      <li><a class="btn btn--side-nav" href="/picture" title="Picture Collections">Pictures</a></li>
      <li><a class="btn btn--side-nav" href="/portfolio" title="Portfolio Project">Portfolio</a></li>
      <li><a class="btn btn--side-nav" href="/" title="Coder's Cove Home Page">Home</a></li>
      <li><a class="btn btn--side-nav" href="/about" title="About Coder's Cove">About</a></li>
      <li><a class="btn btn--side-nav" href="/contact" title="Contact Coder's Cove">Contact</a></li>
      <% if(roles) { roles.forEach(role=> { %>
          <li><a class="btn btn--side-nav" href="/<%= role %>" title="<%= role %>"><%= role %></a></li>
        <% }) %>
        <li><a class="btn btn--side-nav" href="/auth/logout" title="Sign Out">Sign Out</a></li>
      <% } else { %>
        <li><a class="btn btn--side-nav" href="/auth/register" title="Register">Register</a></li>
        <li><a class="btn btn--side-nav" href="/auth/login" title="Sign In">Sign In</a></li>
      <% } %>
    </ul>
  </div>
  <div class="outro">
    <p class="text--xs" title="Coder's Cove Logo">&copy; 2023 <%= title %></p>
  </div>
</nav>

<div id="overlay" class="overlay"></div>
