<h1><%= pageTitle %></h1>

<form method="POST" action="">
  <label for="name">Name *</label><br />
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Enter a name ..."
    value="<%= dog.name %>"
  /><br /><br />

  <label for="cover">Cover</label>
  <input id="cover" name="cover" type="file" class="filepond" />

  <label for="breed">Breed *</label><br />
  <select id="breed" name="breed">
    <% if(!dog.breed) { %>
    <option value="" selected>Pick a breed</option>
    <% } %> <% breeds.forEach(breed => { %> <% if(dog.breed && breed.id ==
    dog.breed.id) { %>
    <option value="<%= breed.id %>" selected><%= breed.name %></option>
    <% } else { %>
    <option value="<%= breed.id %>"><%= breed.name %></option>
    <% } %> <% }) %></select
  ><br /><br />

  <label for="favoriteFood">Favorite Food</label><br />
  <input
    type="text"
    id="favoriteFood"
    name="favoriteFood"
    placeholder="Enter a food ..."
    value="<%= dog.favoriteFood %>"
  /><br /><br />

  <label for="description">Description *</label><br />
  <textarea id="description" name="description"><%= dog.description %></textarea
  ><br /><br />

  <button type="submit">Submit</button>
</form>

<p><i>* required</i></p>

<% if(errors && errors !=='' ) { %>
<h2 style="color: red">Errors:</h2>
<ul>
  <% errors.forEach(error=> { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>
