<div id="container-subpage-product_detail" class="container-subpage">
  <main>
    <h2 id="top" class="title large"><%= pageTitle %></h2>

    <% if(product.coverImagePath) { %>
      <img
        width="300"
        height="300"
        src="<%= product.coverImagePath %>"
        alt="<%= product.name %>"
        title="<%= product.name %>"
      />
    <% } %>

    <h3 class="title">Description:</h3>
    <p><%= product.shortDescription %></p>

    <!-- Don't display Product story if Unavailable or Other -->
    <% if(product.story.name !== "Unavailable" && product.story.name !== "Other") { %>
      <h3 class="title">Story:</h3>
      <p><%= product.story.name %></p>
      <p><%= product.story.synopsis %></p>
      <p><%= product.story.introduction %></p>
      <p><%= product.story.content %></p>
    <% } %>

  </main>
</div>
