<!-- website mission -->
<div class="website-mission-container">
  <div class="website-mission">Making programming easier!</div>
</div>

<!-- website banner -->
<div id="website-top-banner" class="website-top-banner">
  <a class="logo" href="/" title="Go To Home Page">
    <img
      src="/images/logo.svg"
      width="45px"
      height="43px"
      alt="Logo"
    />
    <span><%= title %></span>
  </a>
  <div class="sign-in">

    <% if(roles) { %>
      <a href="/auth/logout" title="Sigh Out">Sign Out</a>
    <% } else { %> 
      <a href="/auth/login" title="Sigh In Or Register">Sign In</a>   
    <% } %>

  </div>
</div>

<!-- website top navigation -->
<nav id="website-top-nav">
  <ul class="website-top-nav">
    <li><button id="btn-open-website-side-nav" class="btn-plain btn-open-website-side-nav" title="Site Pages"><i class="bi bi-list"></i></button></li>
    <li><a class="link" href="/public/store" title="E-Shop">Store</a></li>
    <li><a class="link" href="/contact" title="Contact Site Owner">Contact</a></li>
  </ul>
  <!-- subpage heading -->
  <header class="website-subpage">
    <h1 id="subpage-name" class="subpage-name" title="Subpage Name"><%= subpageName %></h1>
  </header>
</nav>

<!-- website side navigation -->
<nav id="website-side-nav">
  <ul class="website-side-nav">
    <li><a class="link" href="/" title="Home Page">Home</a></li>
    <li><a class="link" href="/public/store" title="E-Shop">Store</a></li>
    <li><a class="link" href="/about" title="About This Site">About</a></li>
    <li><a class="link" href="/contact" title="Contact Site Owner">Contact</a></li>
      
    <% if(roles) { 
      roles.forEach(role => { %>
        <li><a class="link" href="/<%= role %>" title="<%= role %>"><%= role %></a></li>
      <% }) %>
      <li><a class="link" href="/auth/logout" title="Sign Out">Sign Out</a></li>
    <% } else { %>
      <li><a class="link" href="/auth/register" title="Register">Register</a></li>
      <li><a class="link" href="/auth/login" title="Sign In">Sign In</a></li>
    <% } %>
            
  </ul>
</nav>

<div id="overlay" class="overlay"></div>
